<mat-chip-listbox *ngIf="appService.Data.wishList.length == 0">
    <mat-chip-option color="warn" highlighted selectable="false">YOU HAVE NO ITEMS IN WISH LIST.</mat-chip-option>
</mat-chip-listbox>

<mat-card *ngIf="appService.Data.wishList?.length > 0" class="p-0">

  <div class="mat-mdc-table wishlist-table">
    <div class="mat-mdc-header-row">
      <div class="mat-mdc-header-cell">Product</div>
      <div class="mat-mdc-header-cell">Name</div>
      <div class="mat-mdc-header-cell">Price</div>
      <div class="mat-mdc-header-cell">Availability</div>
      <div class="mat-mdc-header-cell">Quantity</div>
      <div class="mat-mdc-header-cell">
        <div class="px-2">
          <button mat-raised-button color="warn" (click)="clear()">Clear All</button>
        </div>
      </div>
    </div>
    <div *ngFor="let product of appService.Data.wishList" class="mat-mdc-row">
      <div class="mat-mdc-cell"><img [src]="product.images[0].small"></div>
      <div class="mat-mdc-cell"><a [routerLink]="['/products', product.id, product.name]" class="product-name">{{product.name}}</a></div>
      <div class="mat-mdc-cell">${{product.newPrice | number : '1.2-2'}}</div>
      <div class="mat-mdc-cell">{{ (product.availibilityCount > 0) ? 'In stock':'Unavailable'}}</div>
      <div class="mat-mdc-cell text-muted">
        <app-controls [product]="product" [type]="'wish'" (onQuantityChange)="getQuantity($event)"></app-controls>
      </div>
      <div class="mat-mdc-cell">
        <div class="p-2">          
          <button mat-mini-fab color="primary" (click)="addToCart(product)" matTooltip="Add to cart">
              <mat-icon>add_shopping_cart</mat-icon>
          </button>
          <button mat-mini-fab color="warn" (click)="remove(product)" matTooltip="Clear" class="remove">
              <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
      
    </div>
  </div>

</mat-card>